.flex-container-school-view {
    display: flex;
    width: 80%;
    flex-wrap:wrap;
    justify-content:space-between;
}

.flex-item-school-view {
    width: 100%;
    padding-right: 10%;
}

.flex-item-school-view:first-child{
    width: 30%;
}

.flex-container-list-view {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 15px;
}

.flex-item-list-view {
    width: 100%;
    margin: 3px auto;
}
.flex-admin{
    width: 30%;
}

.img{
    margin: 0 auto;
    width: 100%;
}

.course_img{
    margin: 0 auto;
    width: 100%;
}


@font-face {
    font-family:  'Lora', serif;
    src: url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i');
}


.course_figcaption,.figcaption{
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 1rem;
}

.course_link, .link{
    text-decoration: none;
}

.course_name{
    font-style: oblique;
    
}

.aside_title{
    display: inline;
    
}

.add_link{
   float: right;
   text-decoration: none;
   font-size: 1.5rem;
   color: black;
}

