
.from_container{
    margin: 3px auto;
}
.edit_img{
    width: 100%;
}
.edit_img:hover{
    cursor: pointer;
}

.edit_table{
    width: 100%;
    padding-top: 5px;
    text-align: left;
    color: black;
    
}

td:first-child{
    font-size: 1rem;
    font-weight: bold;
    width: 50%
}

td input{
    width: 96%;
    padding: 2%;
}

#saveForm input[type=submit]{
    display: inline;
     float: left;
}

#deleteForm input[type=submit]{
    display: inline;
    float: right;
}

.student_form_container, .course_form_container, .admin_form_container{
    display: flex;
    flex-direction: column;
    clear:both;
    
}

.student_form_container input, .admin_form_container input, .course_form_container input{
    width: 60%;
}
.student_form_container select{
    width: 61%;
}

.student_form_item, .course_form_item, .admin_form_item{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}




