.line-separator{
    border-bottom:1px solid black;
    margin-top: 5px;

}

.flex-container-header {
    display: flex;
    width: 100%;
    align-items: center;
}

.flex-item-header {
    width: 20%;
    
}
.flex-item-header:nth-child(2){
    width: 30%
}

.l_flex_header{
    margin-right: 1%;
}

.r_flex_container_header{
    display: flex;
    width: 30%;
    direction: rtl;
    margin-left: auto;
    align-items: flex-start;
}

.r_flex_item_header{
    
    width: 50%;
    margin-left: 5%; 
    
    
}

.logo{
    width: 100%;
}

.img_header{
    border-radius: 50%;
    width: 20%;
}

.headerNav{
    
    text-decoration: none;
    padding: 0 10px;
    text-align: center;
    color: black;
}

a.headerNav:nth-of-type(1){
    border-left: 2px black solid;
}

.headerNav{
    font-size: 16px;
}

a.headerNav:nth-of-type(2){
    border-left: 2px black solid;
    border-right: 2px black solid;
}

.navbar{
    display: inline;
    
}
