/*body{
    background-image:url('../img/img/monster-university-movie-1024x556.jpg');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: local;
    background-size: cover;
    
}*/